<h1>Tickets#show</h1>
<p>Find me in app/views/tickets/show.html.erb</p>

<%= hash_to_link(@ticket.body) %>

<ul>
<% @ticket.comments.each do |comment|%>
<li><%= hash_to_link(comment.body) %></li>
<% end %>
<li>
<%= form_with(url: project_ticket_comments_path({project_id: @project.id, ticket_id: @ticket.id})) do |f| %>
  <%= f.text_area :body %>
  <%= f.hidden_field :opinion_type, value: Comment.opinion_types[:comment] %>
  <%= f.submit %>
<% end %>
</li>
</ul>