<div>
  <h2>メンバー</h2>
  <% if @project.members.empty? %>
    メンバーはまだ存在しません。<%= link_to 'アサイン', new_project_member_path(project_id: @project.id) %>しましょう。
  <% else %>
  <ul>
    <% @project.members.each do |member|%>
      <li><%= member.user.email %></li>
    <% end %>
  </ul>
  <% end %>
  <h3>メンバー追加</h3>
  <%= form_with url: project_members_path(project_id: @project.id), action: :post do |f| %>
    <%= f.text_field :email, list: :userlist %>
    <datalist id="userlist">
      <% User.all.each do |user|%>
        <option value="<%= user.email %>">名前カラム作り忘れた(<%= user.email %>)</option>
      <% end %>
    </datalist>
    <%= f.submit %>
  <% end %>
</div>

<div>
  <h2>新着チケット</h2>
  <% if @project.tickets.empty? %>
    チケットはまだ存在しません。<%= link_to "書きましょう",new_project_ticket_path(project_id: @project.id) %>。
  <% else %>
    <ul>
      <% @project.tickets.each do |ticket| %>
        <li><%= link_to ticket.body, project_ticket_path({project_id: @project.id, id: ticket.id}) %></li>
      <% end %>
    </ul>
  <% end %>
</div>