<!DOCTYPE html>
<html>
  <head>
    <title><%= t('application_name') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- <%= stylesheet_link_tag    'application', media: 'all' %> -->
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%if user_signed_in? %>
        <div class="search">
          <input type="text" class="search__input" placeholder="検索">
        </div>
        <div class="sign_out">
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        </div>
      <%end%>
    </nav>
    <main id="app">
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>
